.header {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--color-bg-prim);
  z-index: 1;
}
.header__logo {
  display: block;
  width: 170px;
  height: 50px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 102px;
    height: 30px;
  }
}
.header__links {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1070px) {
  .header__links {
    display: none;
  }
}
.header__link {
  font-weight: 600;
  line-height: 192%;
  font-size: 16px;
}
.header__button {
  width: 170px;
  height: 50px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .header__button {
    width: 120px;
    height: 36px;
    font-size: 14px;
  }
}
