.map {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding: 120px 0 192px;
  width: 100%;
  background-color: var(--color-bg-sec);
  border-radius: 56px;
}

.max__text {
  font-weight: 600;
  font-size: 32px;
}

.map__content {
  width: 100%;
  aspect-ratio: 1/1;
  pointer-events: none;
  border-radius: 56px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media screen and (max-width: 1280px) {
  .map {
    margin: -128px auto 0;
  }
}

@media screen and (max-width: 920px) {
  .map {
    margin: -192px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .max__text {
    font-size: 24px;
  }
}
@media screen and (max-width: 650px) {
  .map {
    padding: 60px 0 0;
  }
  .max__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 540px) {
  .max__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 420px) {
  .max__text {
    font-size: 12px;
  }
}
